.header {
  padding: 18px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: auto;
  padding: 0 10.5px;
}

.nav-logo-icon {
  display: block;
  margin: 0 auto;
}

.nav-menu-list {
  display: none;
}

@media (min-width: 768px) {
  .nav-menu-list {
    display: flex;
  }
}

.mobile-menu-btn {
  width: 36px;
  height: 36px;

  padding: 6px;

  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  fill: var(--color-scheme-1-text);
}
